.input {
  border: none;
  background-color: rgb(211, 211, 211, 0.4);
  padding: 10px;
  border-radius: 5px;
  outline: none;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.input_error {
  background-color: #db39394d;
}
.input_helper_text {
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  color: #8b0000;
  margin-left: 10px;
}
